/* Popup Container Styles */
.popup-container {
     position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 1000;
}

.popup-container.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
    .locker {
            background-color: #1e1e1e;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 300px;
        }

.popup-container h2 {
    color: #2196F3;
    margin-bottom: 15px;
    text-align: center;
}

.popup-container p {
    margin-bottom: 20px;
    text-align: center;
}









